/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
html{
    /*font-size: 18px;*/
}
body{
    margin: 0;
}

ul{
    list-style: none;
}

/*el-table组件的全局样式修改*/
.el-table__inner-wrapper::before{
    display: none;
}
.el-table__row{
    cursor: pointer;
}